<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
  <head th:replace="layout :: common-head(title='JCCC: Chat')">
  </head>

  <body class="d-flex flex-column h-100">
    <!--Nav section-->
    <header th:replace="layout :: header"></header>
    <!--Main section-->
    <main class="flex-fill">
      <div class="container col-xxl-8 px-4 py-5">
        <div class="row g-5 py-5 row-cols-1 row-cols-lg-2">
          <div class="col order-last order-lg-first">
            <h1 class="display-5 1h-1 mb-3">
              <span class="logoFont">Java Coders Community Chat</span>
              <br />A Demo Coding Project
            </h1>
            <h4 class="lead">
              Welcome to the Java Coders Community Chat, <span th:text="${user.userName}"></span></h4>
              <h2><strong>Channel:</strong>  <span th:text="${channel.name}"></span></h2>
              <h4><strong>Description:</strong>  <span th:text="${channel.description}"></span></h4>

              <div id="messages" class="mt-3 border border-dark rounded">
                <!--Messages are inserted here via JavaScript-->
                <ul id="messageList"></ul>
            </div>
         <div>
              <!--Comment Input Form-->
             <form id="messageForm" class="row g-3" method="POST">
              <div class="col-12 mb-3">
                <label for="message" class="form-label" aria label="message" aria-placeholder="Chat Here"
                  ></label
                >
                <input
                  type="text" id="chatMessage"
                  class="form-control"
                    />
              </div>
               
              <div class="col justify-content-start mb-3">
                <button
                  type="submit"
                  id="messsageBtn"
                  class="btn btn-primary">
                  Let's Chat!</button>
               </div>
             </form>
        </div>
      </div>
    </main>
    <!--footer section-->
    <footer th:replace="layout :: footer"></footer>
    <!-- scripts -->
    <div th:replace="layout :: AuthJS"></div>
    <div th:replace="layout :: ChannelJS"></div>
    <div th:replace="layout :: BootstrapJS"></div>
  </body>
</html>